@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.txt-secondary {
  color: #868686;
}
.txt-info {
  color: #0090b3;
}
.txt-orange {
  color: #f8d22c;
}
.txt-white {
  color: white;
}
.txt-dark {
  color: black;
}
.txt-success {
  color: #048d05;
}
.txt-small {
  font-size: 14px;
}
.txt-small-x {
  font-size: 11px;
}
.title {
  font-weight: bold;
}
.txt-align-start {
  text-align: start;
}
.txt-bold {
  font-weight: bold;
}
